<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamaspirant.mathguidebook">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MathGuideBook.NoActionBar">
        <activity android:name="com.teamaspirant.mathguidebook.chapterFourteen"></activity>
        <activity android:name="com.teamaspirant.mathguidebook.chapterTweleve" />
        <activity android:name="com.teamaspirant.mathguidebook.CommonActivity" />
        <activity
            android:name="com.teamaspirant.mathguidebook.ShowPdf"
            android:screenOrientation="fullUser"
            android:theme="@style/Theme.MathGuideBook.NoActionBar" />
        <activity android:name="com.teamaspirant.mathguidebook.chapterSeven" />
        <activity android:name="com.teamaspirant.mathguidebook.chapterSix" />
        <activity android:name="com.teamaspirant.mathguidebook.chapterThirteen" />
        <activity android:name="com.teamaspirant.mathguidebook.chapterEleven" />
        <activity android:name="com.teamaspirant.mathguidebook.chapterNine" />
        <activity android:name="com.teamaspirant.mathguidebook.chapterFive" />
        <activity android:name="com.teamaspirant.mathguidebook.chapterFour" />
        <activity android:name="com.teamaspirant.mathguidebook.chapterTwo" />
        <activity android:name="com.teamaspirant.mathguidebook.chapterSeventeen" />
        <activity android:name="com.teamaspirant.mathguidebook.chapterFifteen" />
        <activity android:name="com.teamaspirant.mathguidebook.chapterTen" />
        <activity android:name="com.teamaspirant.mathguidebook.chapter_eight_list" />
        <activity android:name="com.teamaspirant.mathguidebook.chapter_three_list" />
        <activity android:name="com.teamaspirant.mathguidebook.chapter_sixteen_list" />
        <activity android:name="com.teamaspirant.mathguidebook.chapterOne" />
        <activity android:name="com.teamaspirant.mathguidebook.ChapterActivity" />
        <activity
            android:name="com.teamaspirant.mathguidebook.MainActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MathGuideBook.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>